<div class="container-fluid mt-5">
  <div class="row mx-auto justify-content-center">
    <div class="col-lg-5 col-md-8 col-11">
      <div class="d-block mx-auto bg-light p-5 rounded-3 shadow">

      <form [formGroup]="requestResetFormGroup" (ngSubmit)="submit()">

        <!-- password reset form group -->
        <div formGroupName="forgotPassword">
          <div class="d-block">
            <img src="assets/images/logo.png" alt="Student MarketPlace"
                 class="img-fluid d-block mb-5 mx-auto"
                 width="200px">
          </div>
          <h2 class="mb-4 text-center fw-bold">Forgot Password</h2>

          <!-- Email Address -->
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="inputEmail">Email</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="email" type="text" id="inputEmail">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="email.errors['required']">
                    Email is required
                  </div>
                  <div *ngIf="email.errors['email']">
                    Not a valid email address
                  </div>
                </div>
            </div>
          </div>

        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-success">Send Reset Link</button>
        </div>

      </form>

        <a routerLink="/login" class="btn btn-info " target="_self" href="/login">Back to Login</a>

    </div>
    </div>
  </div>
</div>
